# Xcode
DerivedData/
build/
*.xcarchive
*.ipa
*.dSYM

# User-specific Xcode state
xcuserdata/
*.xcuserstate
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store

# Fastlane / signing artifacts
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
*.mobileprovision
*.cer
*.p12
